body {
  background-color: rgb(1, 5, 58);
  color: rgba(0, 136, 169, 1);
}
.container {
  align-items: center;
}
.result {
  border: 1px rgb(0, 167, 72) dashed;
  border-radius: 30px;
  background-color: brown;
  padding: 20px;
  margin: 10px;
}
.result h1 {
  align-items: center;
  text-align: center;
  color: black;
}
.result span {
  color: #000;
}
.value {
  color: greenyellow;
}
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 16px;
  background-color: brown;
  border: 2px solid rgb(0, 167, 72);
  border-radius: 10px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid rgb(0, 167, 72);
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgb(126, 44, 62);
}
