
<!DOCTYPE html>
<html>
<head>
    <title>RNAlyze</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="icon" href="/static/img/logo.png" type="image/icon type">
</head>
<body> 

<nav class="navbar">
    <div class="navbar-container container">
        <input type="checkbox" name="" id="" />
        <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>
        <ul class="menu-items">
            <li><a href="{{ url_for('index')}}">Home</a></li>
            <li><a href="#">About</a></li>
            <button><a href="{{ url_for('submit_form')}}">Try Out</a></button>
        </ul>
        <a href="{{ url_for('index')}}">

            <h1 class="logo">

                <img src="/static/img/logo.png" alt="Logo">
            </h1>
        </a>
    </div>
</nav>





<br><br><br><br><br><br>
<div class="container">

  <h1>Rna sequencer</h1><br>
  <form action="" method="post">
      <textarea name="rna" id="" 
      cols="30" rows="10" placeholder="Enter your Rna"></textarea>
      <br><br>
      <button type="submit">Submit</button>
  </form>
  
    {% if text %}
    <div class="result">
        <h1><u>Result</u></h1><br>
        <h2>
    
            <table>
                <tr>
                    <th><span>Given Sequences</span> </th>
                    <th><span>{{seq|truncate(20,True,'...')}}</span></th>
                </tr>
                <tr>
                    <td>Orf Length</td>
                    <td>{{features.0.0|round(2)}}</td>
                </tr>
                <tr>
                    <td>GC Content</td>
                    <td>{{features.0.1|round(2)}}</td>
                </tr>
                <tr>
                    <td>Transcript Length</td>
                    <td>{{features.0.2|round(2)}}</td>
                </tr>
                <tr>
                    <td>CPG Island</td>
                    <td>{{features.0.3|round(2)}}</td>
                </tr>
                <tr>
                    <td>Fickett Score</td>
                    <td>{{features.0.4|round(2)}}</td>
                </tr>
            </table>
            <br><br>
            <div class="value">
                {{result.0}}
                {{features}}
    
                <h3>The Sequences is a
                    {% if result.0 == 0 %}
                    Non coding RNA
                    {% else %}
                    Coding RNA
                    {% endif %}
    
                </h3>
                <br><br>
            </div>
    </div>
    {% endif %}
</div>





<footer>
    <div class="bottom">
    </div>
</footer>

</body>
</html>